.fixed-top{
    box-sizing: border-box;
    background-image: url(./assets/images/6Jl3Hjb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0 10px 4px 0 rgba(0.5, 0.5, 0.5, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    border:2px solid yellow;
    display: inline-flex;
    padding: .5rem;
}
.topBtn{
    text-align: center;
    width: 20%;
    border:2px solid yellow;
    font-size: 150%;
    background-color: aliceblue;
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.title{
    font-size: 150%;
    text-align: center;
    border:2px solid purple;
    min-width: 60%;
    max-width: 90%;
    padding: 5%;
}
.img{
    margin-top: 12%;
    margin-bottom: 12%;
    height: 30%;
    border:2px solid purple;
    min-width: 30%;
    position: relative;  
}

body{
    border:2px solid orange;
    margin-bottom: 6%;
    margin-top: 6%;
}
#pageContainer{
    margin: .5rem;
    max-width: 100%;
    box-sizing: border-box;
    padding: .5em;
    position: relative;
    min-height: 20rem;  
    border:2px solid green;
    background-color: lightgrey
}
.contentWrap{
    display: flex;
    border:2px solid purple;
    max-width: auto; 
    margin-right: 0em;
    background-color: white;
}
.contentWrap2{
    display: flex;
    border:2px solid purple;
    max-width: auto; 
    margin-right: 0em;
    background-color: lightgrey
}
footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    color: #f1f1f1;
    background-color: darkblue;
    text-align: center;
    border:2px solid green;
    background-image: url(./assets/images/6Jl3Hjb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#emailAddress, #emailContent{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 66%;
}
#emailContent{
    height: 20rem;
}
.submitBtn{
    width:25%;
}